.sec1 {
    display: flex ;
    height : 90vh ;
    align-items : center ;
    gap : 60px ;
    padding-top : 50px ;
    
}
.sec-1-1 {
    margin-left : 100px ;
}
.sec-1-1 img {
    width : 400px ;
    border-radius : 50%;
}
.sec-1-2{
    display : flex ;
    flex-direction : column ;
    gap : 15px ;
}
.sec-1-2-1 {
    font-weight : 600 ;
}
h1{
    font-size:50px ;
    color : darkorange ;
}
.typewriter {
  font-size: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid darkorange;
  width: 0;
  animation: typing 3s steps(13) forwards, blink 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 13ch; /* 13 characters in "Kranthi Kumar" */
  }
}

/* Blinking Cursor */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.sec-1-2-3 {
    font-weight : 600 ;
    font-size : 22px ;
}
p{
    font-size : 18px ;
    width : 70%;
}
.btns {
    display: flex;
    gap : 20px ;
}
.btns >:nth-child(1) {
    padding : 10px 20px ;
    background-color : transparent;
    border-radius: 20px ;
    font-size : 15px ;
    font-weight: 600;
    border : 2px solid black ;
    cursor: pointer;
    transition: all .3s ease;
}
.btns >:nth-child(1):hover {
    background-color : black ;
    border : black ;
    color : white ;
}
.btns >:nth-child(2) {
    padding : 10px 20px ;
    background-color : black;
    border-radius: 20px ;
    color : white ;
    font-size : 15px ;
    font-weight: 600;
    cursor : pointer ;
    border : 2px solid black ;
    transition: all .3s ease;
}
.btns >:nth-child(2):hover{
    background-color : darkorange ;
    color : white ;
    border : darkorange ;
}
.social {
    display: flex;
    gap : 20px ;

}
.social img{
    width : 30px ;
    border-radius : 50px ;
    cursor: pointer;
    transition: all .3s ease;
}
.social img:hover {
    transform: scale(0.9);
}

@media(max-width:1024px) {
    .sec1 {
        flex-direction: column;
        height : 100% ;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }
    .p{
        text-align : center ;
    }
    .sec-1-2{
        align-items: center;
        padding-bottom : 50px ;
    }
    .sec-1-1 {
        margin-left : 0px ;
    }
}

@media(max-width:767px) {
    .sec1 {
        flex-direction: column;
    }
    h1{
        font-size : 40px ;
    }
    .p{
        text-align : center ;
    }
    .sec-1-1{
        margin-top : 50px ;
    }
    .sec-1-2{
        align-items: center;
    }
    .sec-1-1 img{
        width : 300px ;
    }
}